@import '../../../../styles/variables.scss';

.purchase {
    margin: 40px;

    @media screen and (max-width:767px) {
        margin: 20px;
    }

    &-heading {
        margin: 34px 0 50px 0;
        font-size: 30px;

        @media screen and (max-width:767px) {
            font-size: 22px;
        }
    }

    &-container {
        text-align: center;
        margin: 0 auto;

        .show-chart {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0 5px;

            .show-progress {
                border: 40px solid $bg1purple;
                border-radius: 50%;
                width: 220px;
                height: 220px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p {
                    margin: 0;
                }
            }

            .show-title {
                font-size: 26px;
                margin-top: 8px;

                @media screen and (max-width:991px) {
                    font-size: 19px;
                }
            }
        }

        hr {
            border: 1px solid;
            opacity: 1;
            margin-bottom: 30px;
        }

        .star {
            background: $bg2purple;
            width: 40%;
            height: 60px;
            text-align: center;
            display: flex;

            img {
                margin: auto;
                min-height: 45px;
            }
        }

        .eye {
            background: $pink;
            width: 40%;
            height: 60px;
            text-align: center;
            display: flex;

            img {
                margin: auto;
                min-height: 40px;
            }
        }

        .btn_div {
            display: block;
            margin: 10px 0;
        }

        .disconnect_button {
            height: 75px;
            border-radius: 8px;
            background: $danger;
            text-align: center;
            padding: 24px 45px;
            font-size: 18px;
            font-weight: 400;
            text-decoration: none;
            display: inline-block;
            min-width: 385px;

            @media screen and (max-width:767px) {
                display: block;
                min-width: 100%;
                padding: 21px 20px;
            }
        }

        .disconnect_button.balance {
            padding: 11px 75px;

            @media screen and (max-width:767px) {
                padding: 11px 20px;
            }
        }

        .show_label {
            font-size: 40px;
            font-weight: 500;
        }

        .mint_button {
            height: 75px;
            border-radius: 8px;
            background: $success;
            text-align: center;
            padding: 24px 45px;
            font-size: 18px;
            font-weight: 400;
            text-decoration: none;
            display: inline-block;
            min-width: 385px;
            margin-bottom: 30px;

            @media screen and (max-width:767px) {
                display: block;
                min-width: 100%;
                padding: 21px 20px;
            }
        }

        .buy-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px !important;

            .fa-home {
                font-size: 60px;
                color: $lightpurple;
                margin-right: 20px;
            }

            .amount-input {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .form-control.amount {
                    background: $lightpurple_1;
                    border-color: $lightpurple_1;
                    color: var(--text-color);
                    width: 80px;
                    font-weight: 700;
                }

                .form-control::placeholder {
                    color: var(--text-color);
                    font-weight: 700;
                }

                .input-group-prepend {
                    .input-group-text {
                        background-color: $lightpurple_1;
                        border-color: $lightpurple_1;
                        border-radius: 8px 0 0 8px;
                        color: var(--text-color);
                        font-weight: 700;
                    }
                }

                .input-group-prepend.next {
                    .input-group-text {
                        border-radius: 0 8px 8px 0;
                    }
                }
            }
        }

        .burns {
            display: flex;
            align-items: left;
            justify-content: left;
            flex-direction: column;

            span {
                margin-left: 10px;
                text-align: left;
            }

            @media screen and (max-width:767px) {
                margin-top: 10px;
            }
        }
    }
}

.shares-mint {
    margin: 40px 0 15px 0;
}

.shape_div {
    width: 100%;
}

.image_div {
    display: flex;
}

.wallet_img {
    height: 700px;
    margin: 0 auto;
}

.round_flow {
    width: 100%;
}

.btn_div button {
    height: 50px;
    background: $success;
    border-radius: 0;
    padding: 11px 55px;
    margin-top: 40px;
}

.btn_div .btn:hover {
    background: $green;
    border-color: $green;
}

.label_title {
    max-width: 800px;
    margin: 0 auto;
    display: block !important;

    .market_block {
        margin: 0;
        padding: 0;
        display: inline-block;
        background: $pink;
        padding: 15px 8px;
        border-radius: 15px;
        margin: 20px;
        min-width: 320px;

        @media screen and (max-width:991px) {
            min-width: 300px;

        }

        @media screen and (max-width:767px) {
            margin: 20px 0;
            display: block;

        }
    }

    .market_block.market {
        padding: 10px 8px 7px 8px;

        h3 {
            margin-bottom: -8px;
        }
    }

    h3 {
        margin-bottom: 5px;
        font-size: 22px;
        font-weight: 700;
        display: block;
    }

    span {
        font-size: 40px;
        font-weight: 700;
        display: block;
    }

    @media screen and (max-width:991px) {
        .label_title {
            display: block !important;
        }
    }

    @media screen and (max-width:767px) {
        h3 {
            font-size: 20px;
            display: block;
        }
    }
}

@media screen and (max-width:1400px) {
    .wallet_img {
        height: 600px;
    }
}

@media screen and (max-width:1199px) {
    .wallet_img {
        height: 450px;
    }
}

@media screen and (max-width:991px) {
    .wallet_img {
        height: 350px;
    }
}

@media screen and (max-width:767px) {
    .wallet_img {
        height: auto;
    }

    .round_flow {
        display: block !important;
    }

    .image_div {
        display: none;
    }
}