<div class="label_title">
    <div class="row">        
        <div class="col-md-6 col-12">
            <div class="market_block"><h3>{{priceLabel}} PRICE</h3> <span>$28,172</span></div>
        </div>
        <div class="col-md-6 col-12">
            <div class="market_block"><h3>CIRCULATING {{priceLabel}}</h3> <span>3,766</span></div>
        </div>
        <div class="col-md-6 col-12">
            <div class="market_block"><h3>DILUTED MARKETCAP</h3> <span>18,450</span></div>
        </div>
        <div class="col-md-6 col-12">
            <div class="market_block"><h3>MARKETCAP</h3> <span>$106,102</span></div>
        </div>
        <div class="col-md-6 col-12">
            <div class="market_block"><h3>STAKED {{priceLabel}}</h3> <span>3,766</span></div>
        </div>
        <div class="col-md-6 col-12">
            <div class="market_block"><h3>BURNED {{priceLabel}}</h3> <span>18,450</span></div>
        </div>
    </div>    
</div>