<div class="wallet_block">
  <div class="close-icon" mat-dialog-close>
      <i class="fa fa-times"></i>
  </div>
  <div class="form_block">    
    <p class="member">Please enter your dreams and interests below to mint your limited edition membership NFT</p>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Your Dreams: </label>          
        <textarea id="textarea" class="form-control" rows="3"></textarea>          
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Your Interests: </label>
        <textarea id="textarea" class="form-control" rows="3"></textarea>
      </div>
      <label for="exampleInputPassword1">Upload reference image: </label>
      <div class="custom-file form-group">            
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile"></label>
      </div>               
      <button class="member_profile">MINT YOUR MEMBERSHIP <br>PROFILE NFT</button>
    </form>
  </div>
  <div class="image_block">
    <div class="row no-gutters">
      <div class="col-6">
        <figure class="image_cap">
          <img src="">
        </figure>
      </div>
      <div class="col-6">
        <figure class="image_cap">
          <img src="">
        </figure>
      </div>
      <div class="col-6">
        <figure class="image_cap">
          <img src="">
        </figure>
      </div>
      <div class="col-6">
        <figure class="image_cap">
          <img src="">
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul>
          <li>U1</li>
          <li>U2</li>
          <li>U3</li>
          <li>U4</li>
          <li class="blue"><img style="width:16px;" src="../../../../assets/images/sync.svg"></li>
        </ul>
        <ul class="v_block">
          <li>v1</li>
          <li>v2</li>
          <li>v3</li>
          <li>v4</li>          
        </ul>
        <p>Please choose one of the four images above to mint your NFT</p>
        <p>If you don’t like that was generated go back, edit your dreams and interests and try agian!</p>
      </div>
    </div>
  </div>  
  <div class="wait_block">
    <p class="text-center">Please wait while we manifest your future Abundance!</p>
    <figure class="wait_image"><img src="../../../../assets/images/horse.jpg"></figure>
  </div>
</div>
